<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
</head>
<body>
{% if user.is_authenticated %}
<div>
    <span>{{ user.username }}</span>
    <a href="{% url 'auth:logout' %}">>выход</a>
</div>
{% endif %}
<h3>Активные диалоги</h3>
<div class="dialogues-list">
    <ul>
 {% для элемента в диалогах %}
            <li>
                <a href="{% url 'main:show_dialog' item.dialog_id %}"
                   style="text-decoration: none;">
 {{ item.dialog.created }} - {{ item.dialog.name }}
                </a>
            </li>
 {% endfor %}
    </ul>
</div>
</body>
</html>