<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</head>
<body>
<div>
    <a href="{% url 'main:index' %}">main</a>
</div>
<h3>Диалог: {{ dialog }}</h3>
<div class="message-create">
     <a href="{#% url 'main:dialog_message_create' dialog.pk %#}"
       style="text-decoration: none;">
        Написать сообщение
    </a>
</div>
<div class="dialog-messages">
    <a href="{% url 'main:dialog_new_messages' dialog.id %}"
       style="text-decoration: none;"
       class="dialog-update">
        обновить
    </a>
    <ul>
        {% for item in dialog.get_messages_all %}
            <li class="message-{{ item.pk }}">
                    {{ item.sender.member.username }}
                    ({{item.created|date:"Y.m.d H:i" }}) - {{ item.text}})
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>